.nav{
  font-size: 15px;
  margin-top: -70px;
  margin-left: 720px;
  color: white;
  background-color: black;
}

.nav ul{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 35px;
}

.nav li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.nav li:hover{
    border-bottom: 5px solid red;
    padding-bottom: 6px;
}
.nav li::before{
    visibility: visible;
    scale: 1 1;
}

.motion{
    position: relative;
    width: 88vw;
    height: 100vh;
    margin: 20px 10px;
    background: black;
    border-radius: 50% / 11.99%;
    color: white;
    margin-left: 80px;
    /* margin-top: -60px; */
    /* opacity: 0.3;   */
}

.motion::before{
    content: "";
    position: absolute;
    top: 11%;
    bottom: 10%;
    right: -5%;
    left: -5%;
    background: inherit;
    border-radius: 5% / 40%;  
}