.header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    color: aquamarine;
    
  }
  
  .accordion {
    display: flex;
    width: 1000px;
    height: 300px;
    gap: 4px;
    transition: 0.3s;
    flex-direction: row;
    color: white;
    line-height: 1.6em;
    border: 7px solid;
    margin-left: 498px;
    padding-top: 40px;
  
  }
  
  .item {
    background-image: url(/images/imag4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
    position: absolute;
    flex: 1 1 0%;
    overflow: hidden;
    transition: flex 0.4s;
    /* z-index: -2; */
  }
  .item1 {
    background-image: url(/images/imag6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
    position: absolute;
    flex: 1 1 0%;
    overflow: hidden;
    transition: flex 0.4s;
    /* z-index: -2; */
  }
  .item2 {
    background-image: url(/images/imag3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
    position: absolute;
    flex: 1 1 0%;
    overflow: hidden;
    transition: flex 0.4s;
    /* z-index: -2; */
  }
  .item3 {
    background-image: url(/images/imag1jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
    position: absolute;
    flex: 1 1 0%;
    overflow: hidden;
    transition: flex 0.4s;
    /* z-index: -2; */
  }
  .item4 {
    background-image: url(/images/imag2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
    position: absolute;
    flex: 1 1 0%;
    overflow: hidden;
    transition: flex 0.4s;
    /* z-index: -2; */
  }
  
  .accordion h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 45px;
    border-bottom: 2px solid white;
    white-space: nowrap;
  }
  
  .accordion li {
    position: relative;
    overflow: hidden;
    flex: 0 0 80px;
    border-radius: 50px;
    opacity: 0.85;
    cursor: pointer;
  }
  
  .item:hover {
    flex: 3 1 0%;
  }
  .item1:hover {
    flex: 3 1 0%;
  }
  .item2:hover {
    flex: 3 1 0%;
  }
  .item3:hover {
    flex: 3 1 0%;
  }
  .item4:hover {
    flex: 3 1 0%;
  }
  
  .content * {
    visibility: hidden;
    opacity: 0;
    transform-style: preserve-3d;
  }
  
  .item:hover .content * {
    visibility: visible;
    opacity: 0.9;
    transform: none;
    transition: all 0.3s;
  }
  .item1:hover .content * {
    visibility: visible;
    opacity: 0.9;
    transform: none;
    transition: all 0.3s;
  }
  .item2:hover .content * {
    visibility: visible;
    opacity: 0.9;
    transform: none;
    transition: all 0.3s;
  }
  .item3:hover .content * {
    visibility: visible;
    opacity: 0.9;
    transform: none;
    transition: all 0.3s;
  }
  .item4:hover .content * {
    visibility: visible;
    opacity: 0.9;
    transform: none;
    transition: all 0.3s;
  }
  
  .content {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s;
    z-index: -1;
    visibility: hidden;
  }
  
  .item:hover .content {
    visibility: visible;
  }
  .item1:hover .content {
    visibility: visible;
  }
  .item2:hover .content {
    visibility: visible;
  }
  .item3:hover .content {
    visibility: visible;
  }
  .item4:hover .content {
    visibility: visible;
  }
  
  @media screen and (max-width: 600px) {
    .accordion {
      flex-direction: column;
      width: 100%; /* Adjust width for better responsiveness */
      max-width: 600px; /* Set a maximum width for smaller screens */
    }
  }
  