.footer h2{
    font-weight: bolder;
    color: red;
    font-size: 17px;
    word-spacing: 3px;
    letter-spacing: 3px;
}

.footer section{
    color: black;
    background-color: rgb(210, 210, 191);
    font-weight: 500;
    font-size: 14px;
  
}

.footer ul{
    line-height: 2em;
}
